.btn{
    height: 50px;
    width: 500px;
    background-color: cyan;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin:auto;
    color:black;
    margin-top: 20px;
}

.mah{
    height: 100px;
    width: 500px;
    background-color:gray;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    margin:auto;
    color: white;
    display: none;
    

}